.labels {

    font-size: 18px;
}
.button {
    background: black;
    color: whitesmoke;
    font-family: "Yu Gothic Light";
    font-size: 20px;
    border-radius: 20px;
    width: 80px;
    height: 50px;
}
.titr {

    font-family: "Yu Gothic Medium";
    color: whitesmoke;
    text-align: left;

}
.signup-from {
}
.inputs {
    border-radius: 20px;
    width: 30%;
    border: black solid thin;
    text-align: center;
}

body{
    background-color: #61d4d6;
}
 header{
     background-color: #61d4d6;

 }
