body{
        margin: 0px;
        padding: 0px;
}

#titr{
        font-family: "Yu Gothic Medium";
        font-size: 20px;
        text-decoration-color: black;
}

div a {
        text-decoration: black;
        font-size: 20px;
        padding: 15px;
        display:inline-block;}


ul {
        height: 50px;
        margin: 0;
        padding: 0;
        color: black;
        text-decoration-color: black;

}
ul li:hover {background: black;}
ul li:hover ul {display: block;}
ul li ul {
        height: 50px    ;
        position: absolute;
        width: 500px;
        display: none;
        color: black;
}
ul li ul li {
        background: gray;
        display: block;
        color: black;
        text-decoration-color: black;
}

ul li ul li a {display:block !important;}
ul li ul li:hover {background: black;}

/*---------------------------------*/

#sidebar{
        width: 30vh;
        height: 100%;
        position: absolute;
        background-color: black;
        left: -220px;
        display: block;
        top: 0px;
        transition: left 0.3s linear;

}

#sidebar.visibility{
        left: 0px;
        transition: left 0.3s linear;
        color: black;
        text-decoration-color: black;

}
#sidebar-btn{
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 15px;
        cursor: pointer;
        position: absolute;
        top: 0px;
        right: -60px;
}
#sidebar-btn span{
        margin-bottom: 10px;
        display: block;
        background-color: #ffffff;
        height: 06px;
        }
#sidebar-btn span:nth-child(2) {
        width:30px ;

}
#sidebar-btn span:nth-child(3) {
        width:20px ;
}
/*----------------------------------------*/
